<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="httpFile" value="D:\\box\\PI\\HttpHandlers\\HtmlPage.html"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <add name="zruHandlerGet" path="/handler/1" verb="GET" type="HttpHandlers.IISHandler1"/>
      <add name="zruHandlerPost" path="/handler/1" verb="POST" type="HttpHandlers.IISHandler1"/>
      <add name="zruHandlerPut" path="/handler/1" verb="PUT" type="HttpHandlers.IISHandler1"/>
      <add name="zruHandlerXY+Post" path="/handler/2" verb="POST" type="HttpHandlers.IISHandler2"/>
      <add name="zruHandlerXY+Get" path="/handler/2" verb="GET" type="HttpHandlers.IISHandler2"/>
      <add name="zruHandlerWSGet" path="*.websocket" verb="GET" type="HttpHandlers.IISHandler3"/>
    </handlers>
  </system.webServer>
</configuration>