<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPDService" />
                <binding name="PDServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.193.234:42104/asmx/PDService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PDServiceSoap"
                contract="PDServiceReferenceASMX.PDServiceSoap" name="PDServiceSoap" />
            <endpoint address="http://172.16.193.234:42104/wcf/PDService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPDService"
                contract="PDServiceReferenceWCF.IPDService" name="BasicHttpBinding_IPDService" />
        </client>
    </system.serviceModel>
</configuration>